body {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.w-100 {
    width: 100%;
}

.color-dark-50 {
    color: rgba(0, 0, 0, .5);
}

.color-dark-90 {
    color: rgba(0, 0, 0, .9);
}

.mb-sm {
    margin-bottom: .5rem;
}

.mb-md {
    margin-bottom: 1rem;
}

.mb-lg {
    margin-bottom: 3rem;
}

.mr-sm {
    margin-right: .5rem;
}

.pd-1 {
    padding: 1rem;
}

.pd-2 {
    padding: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 992px) {
    .container {
        flex-direction: row;
    }
}

/* Hero */

.hero-image {
    background: center/cover url(assets/bg.jpg);
    display: none;
}

@media (min-width: 992px) {
    .hero-image {
        display: flex;
        flex-grow: 1;
    }
}

.hero-content {
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero-info {
    max-width: 320px;
}

.logo {
    align-items: center;
    background: repeat-x center url(assets/logo.jpg);
    display: flex;
    font: 300 1.2rem/1 "Roboto";
    height: 40px;
    justify-content: center;
}

.hero-p {
    font: 1rem/1.2 "Roboto";
}

.hero-list {
    font: .8rem/1.4 "Roboto";
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.hero-company {
    font: .8rem/1 "Roboto";
    margin-top: auto;
}

.banner {
    align-items: center;
    background-color: #0078d7;
    color: #fff;
    display: flex;
    font: 400 .8rem/1.2 "Roboto";
    justify-content: center;
    height: 40px;
}

@media (min-width: 992px) {
    .banner {
        display: none;
    }
}

.main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .main {
        flex-grow: 0;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 320px;
}

.content-header {
    font: 400 1.2rem/1.4 "Roboto";
    text-align: center;
}

@media (min-width: 992px) {
    .content-header {
        text-align: left;
    }
}

.break {
    display: inline;
}

@media (min-width: 992px) {
    .break {
        display: block;
    }
}

.content-grp {
    font: .8rem/1 "Roboto";
}

/* Connect buttons */

.content-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: background-color 80ms linear;
    color: #fff;
}

.github {
    background-color: #303030;
}

.github:hover {
    background-color: #171717;
}

.microsoft {
    background-color: #0a416e;
}

.microsoft:hover {
    background-color: #005ca4;
}

.social-buttons {
    display: flex;
}

.social-btn {
    background: no-repeat center/20px #dedede;
    height: 40px;
    transition: background-color 80ms linear;
}

.social-btn:hover {
    background-color: #bfbfbf;
}

.facebook {
    background-image: url(assets/facebook.svg);
}

.google {
    background-image: url(assets/google.svg);
}

/* Divider */

.content-divider {
    align-items: center;
    background-color: #dedede;
    display: flex;
    height: 1px;
    justify-content: center;
}

.or-text {
    background-color: #fff;
}

/* Inputs */

.input {
    background-color: #fff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    height: 40px;
}

.input-p{
    font: .7rem/1.2 "Roboto";
    display: block;
}

.input-link {
    font: .7rem/1.2 "Roboto";
    display: block;
}

.account-btn {
    background-color: #dedede;
    border: 0;
    cursor: pointer;
    height: 40px;
    transition: background-color 80ms linear;
}

.account-btn:hover {
    background-color: #bfbfbf;
}

.signin-link {
    color: #0078d7;
    display: block;
    text-align: center;
}

@media (min-width: 576px) {
    .signin-link {
        text-align: left;
    }
}

/* Footer */

.content-legal {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (min-width: 576px) {
    .content-legal {
        flex-direction: row;
    }
}

@media (min-width: 576px) {
    .legal-link {
        margin-bottom: 0;
    }
}

@media (min-width: 576px) {
    .company {
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    .company {
        display: none;
    }
}


/* Reset page */

.reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}

@media (min-width: 576px) {
    .reset-container {
        justify-content: center;
    }
}

.reset-wrapper {
    box-sizing: border-box;
    background-color: #fff;
    max-width: 400px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.reset-wrapper button {
    color: #fff;
    background-color: #0078d7;
}

.reset-wrapper button:hover {
    background-color: #005ca4;
}

.reset-header {
    font: 300 1.2rem/1.4 "Roboto";
}

.reset-p {
    font: 400 .8rem/1.2 "Roboto";
}

.reset-login {
    font: 400 .8rem/1 "Roboto";
}