body,
ul,
h1,
h2,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 992px) {
    .page {
        flex-direction: row;
    }
}


/* Hero */

.hero-container {
    background: #0078D7 center/cover url(images/backgrounds/bg3.jpg);
    display: none;
}

@media (min-width: 992px) {
    .hero-container {
        display: flex;
        flex-grow: 1;
    }
}


/* Color overlay is needed for text to be clearly visible */

.hero-content {
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 2rem;
    color: #fff;
}


/* Max width is need so that header content doesn't go full width */

.header-content {
    max-width: 380px;
}


/* Header text */

.header-content .h1 {
    align-items: center;
    background: repeat-x center url(images/logo.jpg);
    display: flex;
    height: 40px;
    justify-content: center;
    margin-bottom: 2rem;
}


/* Subheader text */

.header-content .h2 {
    margin-bottom: 1.2rem;
}

.list {
    font: .8rem/1.4 "Roboto";
    list-style-type: none;
}

.header-content .list .list-item {
    margin-bottom: 1rem;
}


/* Banner */

.banner {
    align-items: center;
    background-color: #0078d7;
    display: flex;
    font: 400 .8rem/1.2 "Roboto";
    justify-content: center;
    height: 40px;
}

@media (min-width: 992px) {
    .banner {
        display: none;
    }
}


/* Main */

.main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .main {
        flex-grow: 0;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 992px) {
    main header .h1 {
        text-align: left;
    }
}

.break {
    display: inline;
}

@media (min-width: 992px) {
    .break {
        display: block;
    }
}


/* Buttons */

.btn {
    font: .8rem/1 "Roboto";
    border: 0;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: background-color 80ms linear;
    background: no-repeat center/20px #dedede;
}

.btn:hover {
    background-color: #bfbfbf;
}

.github {
    background-color: #303030;
}

.github:hover {
    background-color: #171717;
}

.microsoft {
    background-color: #0a416e;
}

.microsoft:hover {
    background-color: #005ca4;
}

.facebook {
    background-image: url(images/icons/facebook.svg);
}

.google {
    background-image: url(images/icons/google.svg);
}


/* Divider */

.content-divider {
    align-items: center;
    background-color: #dedede;
    display: flex;
    height: 1px;
    justify-content: center;
}

.or-text {
    font: .8rem/1 "Roboto";
    background-color: #fff;
}


/* Inputs */

.input {
    background-color: #fff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    height: 40px;
    font: .8rem/1 "Roboto";
}

.input-warning {
    font: 1rem/1.2 "Roboto";
}


/* Footer */

.content-legal {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.company-text {
    font: .8rem/1 "Roboto";
}

@media (min-width: 576px) {
    footer .link {
        text-align: left;
    }
}

@media (min-width: 576px) {
    .content-legal {
        flex-direction: row;
    }
}

@media (min-width: 576px) {
    footer .content-legal .company-text {
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    footer .content-legal .company-text {
        display: none;
    }
}

/* Mini framework */

.h1 {
    font: 400 1.2rem/1.4 Roboto;
}

.h2 {
    font: 400 1rem/1.2 Roboto;
}

.link {
    font: .8rem/1 "Roboto";
}

.w-100 {
    width: 100%;
}

.mw-320 {
    max-width: 320px;
}

.color-white {
    color: #fff;
}

.color-dark-50 {
    color: rgba(0, 0, 0, .5);
}

.color-dark-90 {
    color: rgba(0, 0, 0, .9);
}

.color-blue {
    color: #0078d7;
}

.mb-sm {
    margin-bottom: .5rem;
}

.mb-md {
    margin-bottom: 1rem;
}

.mb-lg {
    margin-bottom: 3rem;
}

.mr-sm {
    margin-right: .5rem;
}

.pd-1 {
    padding: 1rem;
}

.pd-2 {
    padding: 2rem;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}